:root{
    margin: 0;
    padding: 0;
    
}


.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 20% !important;
}

.formulario{
    display: flex;
    flex-direction:  column;
    align-items: center;
    width: 50%;
    border: 1px solid black;
    gap: 1rem;
    padding: 2%;
}

.radios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#textArea{
    width: 80% !important;
    height: 10rem !important;
}